.btn-level {
  padding: 8px;
  border-radius: 5px;
  background-color: #d72d2d;
  height: 42px;
  width: 100px;
  color: white;
  font-size: 1.5em;
}

.main {
  display: flex;
  flex: auto;
  flex-direction: row;
}

.container {
  width: fit-content;
  margin: 0 auto;
}

.container-image {
  width: 200px;
  height: 200px;
  padding: 12px 0;
  margin: 24px auto;
  background-color: white;
  border-radius: 20px;
  margin-right: 20px;
}

.container-level {
  width: fit-content;
  margin: 10px auto;
}

.container-level button {
  padding: 0;
  margin: 0;
}

.container-level span {
  font-size: 2em;
  border-color: black;
  color: black;
  border-radius: 5px;
}

#imagen {
  height: 200px;
  transition: all ease 1s;
}

#frase {
  display: inline-block;
  align-content: center;
}

.word {
  width: fit-content;
  display: inline-block;
  align-content: center;
}

.resolv {
  margin-top: 25px;
  margin-left: 25px;
  padding: 8px;
  border-radius: 5px;
  background-color: #398a3d;
  height: 42px;
  width: 150px;
  color: white;
  font-size: 1.5em;
}
