<div class="main">
    <div class="container-image">
        <img id="imagen" [src]="'/assets/hangman' + fallas + '.png'" alt="Fallas {{fallas}}">
    </div>
    <div class="container">
        <br>
        <div id="frase">
            <div class="word" *ngFor="let word of words">
                <app-letra *ngFor="let letter of word"
                           [letter]="letter"
                ></app-letra>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <app-key *ngFor="let key of keys"
                 [key]="key"
                 [frase]="frase"
                 (clickeado)="keyPressed($event)"
        ></app-key>
    </div>
    <div class="container-level">
        <button class="btn-level" (click)="anteriorNivel()" [disabled]="isMinLevel"><<</button>
        <span> Nivel {{level + 1}}</span>
        <button class="btn-level" (click)="siguienteNivel()" [disabled]="isMaxLevel">>></button>
    </div>

</div>