.container {
  width: 80%;
  margin: 0 auto;
}

.container-image {
  width: 200px;
  margin: 0 auto;
}

.container-level {
  width: 300px;
  margin: 0 auto;
}

.container-level button {
  padding: 8px;
  margin: 8px;
}

#imagen {
  height: 200px;
}

#frase {
  display: inline-block;
  align-content: center;
}
