h1 {
  padding: 10px;
  margin: 0px;
}

header {
  background-color: blue;
  height: 100px;
  color: white;
  font-size: 32px;
  text-align: center;
}

section {
  display: flex;
  background-color: cornflowerblue;
  //background-image: url('/assets/background.jpeg');
  //background-size: cover;
}

footer {
  background-color: #803a3a;
  height: 50px;
  align-content: center;
  padding: 10px;
}

footer span {
  margin: auto;
  color: white;
}