h1 {
  padding: 10px;
  margin: 0;
}

header {
  background-color: #7dc3e3;
  min-height: 100px;
  color: white;
  font-size: 32px;
  text-align: center;
  background-image: url('/assets/header-minecraft.png');
  //background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

section {
  display: flex;
  flex: auto;
  background-color: cornflowerblue;
  background-image: url('/assets/background-minecraft.png');
  background-size: cover;
  background-position: top;
  overflow: auto;
}

app-hangman {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #803a3a;
  min-height: 50px;
  align-content: center;
  padding: 10px;
}

footer span {
  margin: auto;
  color: white;
}
