.letter {
  opacity: 1;
  font-size: 16px;
  padding: 8px;
  width: 20px;
  margin: 4px;
  display: inline-block;
  border: black solid 1px;
  border-radius: 5px;
  background-color: azure;
  text-align: center;
}

.espacio {
  color: cornflowerblue;
  border: none;
  background-color: cornflowerblue;
}

.puntuacion {
  color: black;
  border: none;
  background-color: cornflowerblue;
}